In [2]:
!pip install textblob

from textblob import TextBlob

import pandas as pd

import requests

import json

Requirement already satisfied: textblob in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from textblob) (3.3)
Requirement already satisfied: six in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from nltk>=3.1->textblob) (1.11.0)

In [7]:
#The 2019 MLB Int Class

mlb_json_id_url = 'http://m.mlb.com/gen/players/prospects/2019/playerProspects.json'
response = requests.get(mlb_json_id_url)
response.status_code
all_json = response.json()
int_prospect_list_2019 = all_json['prospect_players']['int']
int_player_ids_2019 = []
int_player_ranks_2019 = []
int_player_first_name_2019 = []
int_player_last_name_2019 = []
int_player_position_2019 = []
for i in int_prospect_list_2019:
    int_player_id_2019 = str(i['player_id'])
    int_player_ids_2019.append(int_player_id_2019)                      
    int_rank_2019 = i["rank"]
    int_player_ranks_2019.append(int_rank_2019)
    int_first_name_2019 = i["player_first_name"]
    int_player_first_name_2019.append(int_first_name_2019)
    int_last_name_2019 = i["player_last_name"]
    int_player_last_name_2019.append(int_last_name_2019)
    int_position_2019 = i["position"]
    int_player_position_2019.append(int_position_2019)
    int_player_id_data_2019 = {'First Name' : int_player_first_name_2019, 'Last Name' : int_player_last_name_2019, 'Player ID' : int_player_ids_2019, 'Position' : int_player_position_2019, 'Player Rank' : int_player_ranks_2019}

int_player_id_dataframe_2019 = pd.DataFrame(int_player_id_data_2019)


###Part 3: Scraping every Top100 report into dataframes
pipeline_url = "http://m.mlb.com/gen/players/prospects/2019/"
int_prospect_url_list_2019 = []
link_status_2019 = []
#making links
for i in int_player_ids_2019:
    prospect_url = pipeline_url + i + '.json'
    int_prospect_url_list_2019.append(prospect_url)

#testing links
for i in int_prospect_url_list_2019:    
    response = requests.get(i)
    if response.status_code == 200:
        link = 'Link is working'
    else:
        link = 'Link does not work'
    link_status_2019.append(link)
    
#making initial list of player scout-reports/cards
int_card_list_2019 = []
for i in int_prospect_url_list_2019:    
    response = requests.get(i)
    int_player_card_framed_2019 = response.json()
    int_player_card_2019 = int_player_card_framed_2019['prospect_player']
    int_player_card_2019
    int_player_report_and_video_2019 = int_player_card_2019['content']
    int_player_report_2019 = int_player_report_and_video_2019['default']
    int_card_list_2019.append(int_player_report_2019)



int_report_trim_1_list_2019 = []
for i in int_card_list_2019:
    trim = i.rfind('Overall: ') + 10
    report_trim_1 = i[trim:]
    int_report_trim_1_list_2019.append(report_trim_1)

int_report_cleaner_list_2019 = []
for i in int_report_trim_1_list_2019:
    if i.find('</a>') == -1:
        start = i.find('n<p>') + 3
    else:
        start = i.find('</a>') + 8
    trim_a = i[start:]
    int_report_cleaner_list_2019.append(trim_a)

int_reports_2019 = []
for i in int_report_cleaner_list_2019:
    without_p = i.replace('<p>', '')
    without_p2 = without_p.replace('p>', '')
    without_n = without_p2.replace('\n', '')
    lowered = without_n.lower()
    int_reports_2019.append(lowered)

int_player_id_dataframe_2019['Written Report'] = int_reports_2019
int_top_one_hundred_data_2019 = int_player_id_dataframe_2019


full_int_2019 = []

for i in int_reports_2019:
    
    int_text_2019 = TextBlob(i)
   
    int_score_2019 = int_text_2019.sentiment
    
    full_int_2019.append(int_score_2019)


int_top_one_hundred_data_2019['Sentiment Score'] = full_int_2019

sorted_int_2019 = int_top_one_hundred_data_2019.sort_values(by=['Sentiment Score'],ascending = False)
sorted_int_2019 = sorted_int_2019.drop(['Written Report', 'Player ID'], axis = 1)
sorted_int_2019

,First Name,Last Name,Position,Player Rank,Sentiment Score
21,Brayan,Medina,RHP,22,"(0.5530303030303031, 0.5212121212121213)"
18,Andry,Lara,RHP,19,"(0.3939393939393939, 0.4575757575757576)"
10,Arol,Vera,SS,11,"(0.3457142857142857, 0.47960317460317464)"
0,Jasson,Dominguez,OF,1,"(0.332010582010582, 0.5000440917107584)"
29,Rikelvin,De Castro,SS,30,"(0.2804761904761905, 0.43023809523809525)"
13,Adael,Amador,SS,14,"(0.26916666666666667, 0.48166666666666663)"
16,Dauri,Lorenzo,SS,17,"(0.26233897681266105, 0.4413630229419703)"
5,Luis,Rodriguez,OF,6,"(0.24255291005291005, 0.4615476190476191)"
24,Reginald,Preciado,SS,25,"(0.23152173913043483, 0.45678053830227744)"
23,Kristian,Cardozo,RHP,24,"(0.21508295625942686, 0.35407239819004527)"
17,Ismael,Mena,OF,18,"(0.19607843137254902, 0.40686274509803916)"
9,Emmanuel,Rodriguez,OF,10,"(0.1933862433862434, 0.4546957671957672)"
1,Robert,Puason,SS,2,"(0.19002267573696144, 0.36927437641723354)"
19,Maximo,Acosta,SS,20,"(0.182687074829932, 0.47998299319727905)"
27,Jose,Pastrano,SS,28,"(0.1804761904761905, 0.37738095238095243)"
7,Ronnier,Quintero,C,8,"(0.1792606516290727, 0.43690476190476196)"
22,Cristopher,Cruz,RHP,23,"(0.16537973137973136, 0.43696459096459095)"
11,Jose,Salas,SS,12,"(0.16527777777777777, 0.44027777777777777)"
3,Norge,Vera,RHP,4,"(0.14717703349282296, 0.3584848484848484)"
26,Junior,Sanchez,SS,27,"(0.14666666666666667, 0.3470833333333333)"
12,Kevin,Made,SS,13,"(0.13596542346542345, 0.3576617826617826)"
14,Dyan,Jorge,SS,15,"(0.13079761904761902, 0.49313095238095245)"
25,Esmerlin,Vinicio,LHP,26,"(0.1301521890807605, 0.35624454910169195)"
2,Pedro,Leon,OF,3,"(0.12708333333333333, 0.50625)"
28,Alexander,Ramirez,OF,29,"(0.11039915966386554, 0.42184873949579826)"
4,Bayron,Lora,OF,5,"(0.11022535435578913, 0.5019302436693741)"
15,Luis,Medina,OF,16,"(0.10833333333333334, 0.40520833333333334)"
20,Jhon,Diaz,OF,21,"(0.07239583333333333, 0.36354166666666665)"
6,Erick,Pena,OF,7,"(0.05738095238095237, 0.3981385281385281)"
8,Yiddi,Cappe,SS,9,"(0.05590277777777777, 0.3690972222222222)"

In [8]:
#The 2018 MLB Int Class

mlb_json_id_url = 'http://m.mlb.com/gen/players/prospects/2018/playerProspects.json'
response = requests.get(mlb_json_id_url)
response.status_code
all_json = response.json()
int_prospect_list_2018 = all_json['prospect_players']['int']
int_player_ids_2018 = []
int_player_ranks_2018 = []
int_player_first_name_2018 = []
int_player_last_name_2018 = []
int_player_position_2018 = []
for i in int_prospect_list_2018:
    int_player_id_2018 = str(i['player_id'])
    int_player_ids_2018.append(int_player_id_2018)                      
    int_rank_2018 = i["rank"]
    int_player_ranks_2018.append(int_rank_2018)
    int_first_name_2018 = i["player_first_name"]
    int_player_first_name_2018.append(int_first_name_2018)
    int_last_name_2018 = i["player_last_name"]
    int_player_last_name_2018.append(int_last_name_2018)
    int_position_2018 = i["position"]
    int_player_position_2018.append(int_position_2018)
    int_player_id_data_2018 = {'First Name' : int_player_first_name_2018, 'Last Name' : int_player_last_name_2018, 'Player ID' : int_player_ids_2018, 'Position' : int_player_position_2018, 'Player Rank' : int_player_ranks_2018}

int_player_id_dataframe_2018 = pd.DataFrame(int_player_id_data_2018)


###Part 3: Scraping every Top100 report into dataframes
pipeline_url = "http://m.mlb.com/gen/players/prospects/2018/"
int_prospect_url_list_2018 = []
link_status_2018 = []
#making links
for i in int_player_ids_2018:
    prospect_url = pipeline_url + i + '.json'
    int_prospect_url_list_2018.append(prospect_url)

#testing links
for i in int_prospect_url_list_2018:    
    response = requests.get(i)
    if response.status_code == 200:
        link = 'Link is working'
    else:
        link = 'Link does not work'
    link_status_2018.append(link)
    
#making initial list of player scout-reports/cards
int_card_list_2018 = []
for i in int_prospect_url_list_2018:    
    response = requests.get(i)
    int_player_card_framed_2018 = response.json()
    int_player_card_2018 = int_player_card_framed_2018['prospect_player']
    int_player_card_2018
    int_player_report_and_video_2018 = int_player_card_2018['content']
    int_player_report_2018 = int_player_report_and_video_2018['default']
    int_card_list_2018.append(int_player_report_2018)



int_report_trim_1_list_2018 = []
for i in int_card_list_2018:
    trim = i.rfind('Overall: ') + 10
    report_trim_1 = i[trim:]
    int_report_trim_1_list_2018.append(report_trim_1)

int_report_cleaner_list_2018 = []
for i in int_report_trim_1_list_2018:
    if i.find('</a>') == -1:
        start = i.find('n<p>') + 3
    else:
        start = i.find('</a>') + 8
    trim_a = i[start:]
    int_report_cleaner_list_2018.append(trim_a)

int_reports_2018 = []
for i in int_report_cleaner_list_2018:
    without_p = i.replace('<p>', '')
    without_p2 = without_p.replace('p>', '')
    without_n = without_p2.replace('\n', '')
    lowered = without_n.lower()
    int_reports_2018.append(lowered)

int_player_id_dataframe_2018['Written Report'] = int_reports_2018
int_top_one_hundred_data_2018 = int_player_id_dataframe_2018


full_int_2018 = []

for i in int_reports_2018:
    
    int_text_2018 = TextBlob(i)
   
    int_score_2018 = int_text_2018.sentiment
    
    full_int_2018.append(int_score_2018)


int_top_one_hundred_data_2018['Sentiment Score'] = full_int_2018

sorted_int_2018 = int_top_one_hundred_data_2018.sort_values(by=['Sentiment Score'],ascending = False)
sorted_int_2018 = sorted_int_2018.drop(['Written Report', 'Player ID'], axis = 1)
sorted_int_2018

,First Name,Last Name,Position,Player Rank,Sentiment Score
11,Starlyn,Castillo,P,12,"(0.4152777777777778, 0.43472222222222223)"
14,Antonio,Gomez,C,15,"(0.3639136904761905, 0.6273065476190476)"
26,Eduardo,Lopez,OF,27,"(0.32868480725623583, 0.4247165532879818)"
7,Richard,Gallardo,P,8,"(0.32180451127819554, 0.42857142857142855)"
8,Gabriel,Rodriguez,SS,9,"(0.3027680652680653, 0.46719114219114216)"
21,Eduarqui,Fernandez,OF,22,"(0.2739583333333333, 0.4401041666666667)"
25,Alejandro,Pie,SS,26,"(0.2383861236802413, 0.44864792070674425)"
2,Diego,Cartaya,C,3,"(0.23145833333333332, 0.5189583333333333)"
1,Yennier,Cano,RHP,2,"(0.21884920634920635, 0.3301587301587302)"
10,Alexander,Vargas,SS,11,"(0.2116108171663727, 0.378071722516167)"
18,Jose,De La Cruz,OF,19,"(0.2114529914529914, 0.5004273504273503)"
19,Alvin,Guzman,OF,20,"(0.21142857142857144, 0.3371428571428571)"
9,Noelvi,Marte,SS,10,"(0.21, 0.4266666666666667)"
24,Jose,Rodriguez,C,25,"(0.17055555555555554, 0.5627777777777778)"
13,Kevin,Alcantara,OF,14,"(0.16253535353535353, 0.366)"
16,Francisco,Alvarez,C,17,"(0.1603174603174603, 0.46746031746031746)"
5,Misael,Urbina,OF,6,"(0.15558333333333335, 0.34775)"
22,Adinso,Reyes,SS,23,"(0.1537037037037037, 0.37592592592592594)"
3,Marco,Luciano,OF,4,"(0.14746031746031743, 0.2914285714285714)"
0,Victor Victor,Mesa,OF,1,"(0.1417929292929293, 0.3464105339105339)"
27,Alexander,Ramirez,OF,28,"(0.1273931623931624, 0.3841025641025641)"
23,Eduardo,Garcia,SS,24,"(0.12361111111111112, 0.4222222222222222)"
6,Orelvis,Martinez,SS,7,"(0.11228070175438597, 0.42412280701754385)"
20,Jose,Lopez,OF,21,"(0.10942982456140353, 0.381203007518797)"
15,Junior,Sanquintin,SS,16,"(0.09431089743589742, 0.43012820512820515)"
12,Osiel,Rodriguez,P,13,"(0.07941176470588235, 0.5058823529411763)"
28,Freddy,Valdez,OF,29,"(0.07204212454212452, 0.4512728937728938)"
29,Branlyn,Jaraba,SS,30,"(0.06926406926406926, 0.41991341991341996)"
17,Sandy,Gaston,P,18,"(0.060666666666666674, 0.5276666666666666)"
4,Yolbert,Sanchez,SS,5,"(-0.022000000000000002, 0.25599999999999995)"

In [9]:
#The 2017 MLB Int Class

mlb_json_id_url = 'http://m.mlb.com/gen/players/prospects/2017/playerProspects.json'
response = requests.get(mlb_json_id_url)
response.status_code
all_json = response.json()
int_prospect_list_2017 = all_json['prospect_players']['int']
int_player_ids_2017 = []
int_player_ranks_2017 = []
int_player_first_name_2017 = []
int_player_last_name_2017 = []
int_player_position_2017 = []
for i in int_prospect_list_2017:
    int_player_id_2017 = str(i['player_id'])
    int_player_ids_2017.append(int_player_id_2017)                      
    int_rank_2017 = i["rank"]
    int_player_ranks_2017.append(int_rank_2017)
    int_first_name_2017 = i["player_first_name"]
    int_player_first_name_2017.append(int_first_name_2017)
    int_last_name_2017 = i["player_last_name"]
    int_player_last_name_2017.append(int_last_name_2017)
    int_position_2017 = i["position"]
    int_player_position_2017.append(int_position_2017)
    int_player_id_data_2017 = {'First Name' : int_player_first_name_2017, 'Last Name' : int_player_last_name_2017, 'Player ID' : int_player_ids_2017, 'Position' : int_player_position_2017, 'Player Rank' : int_player_ranks_2017}

int_player_id_dataframe_2017 = pd.DataFrame(int_player_id_data_2017)


###Part 3: Scraping every Top100 report into dataframes
pipeline_url = "http://m.mlb.com/gen/players/prospects/2017/"
int_prospect_url_list_2017 = []
link_status_2017 = []
#making links
for i in int_player_ids_2017:
    prospect_url = pipeline_url + i + '.json'
    int_prospect_url_list_2017.append(prospect_url)

#testing links
for i in int_prospect_url_list_2017:    
    response = requests.get(i)
    if response.status_code == 200:
        link = 'Link is working'
    else:
        link = 'Link does not work'
    link_status_2017.append(link)
    
#making initial list of player scout-reports/cards
int_card_list_2017 = []
for i in int_prospect_url_list_2017:    
    response = requests.get(i)
    int_player_card_framed_2017 = response.json()
    int_player_card_2017 = int_player_card_framed_2017['prospect_player']
    int_player_card_2017
    int_player_report_and_video_2017 = int_player_card_2017['content']
    int_player_report_2017 = int_player_report_and_video_2017['default']
    int_card_list_2017.append(int_player_report_2017)



int_report_trim_1_list_2017 = []
for i in int_card_list_2017:
    trim = i.rfind('Overall: ') + 10
    report_trim_1 = i[trim:]
    int_report_trim_1_list_2017.append(report_trim_1)

int_report_cleaner_list_2017 = []
for i in int_report_trim_1_list_2017:
    if i.find('</a>') == -1:
        start = i.find('n<p>') + 3
    else:
        start = i.find('</a>') + 8
    trim_a = i[start:]
    int_report_cleaner_list_2017.append(trim_a)

int_reports_2017 = []
for i in int_report_cleaner_list_2017:
    without_p = i.replace('<p>', '')
    without_p2 = without_p.replace('p>', '')
    without_n = without_p2.replace('\n', '')
    lowered = without_n.lower()
    int_reports_2017.append(lowered)

int_player_id_dataframe_2017['Written Report'] = int_reports_2017
int_top_one_hundred_data_2017 = int_player_id_dataframe_2017


full_int_2017 = []

for i in int_reports_2017:
    
    int_text_2017 = TextBlob(i)
   
    int_score_2017 = int_text_2017.sentiment
    
    full_int_2017.append(int_score_2017)


int_top_one_hundred_data_2017['Sentiment Score'] = full_int_2017

sorted_int_2017 = int_top_one_hundred_data_2017.sort_values(by=['Sentiment Score'],ascending = False)
sorted_int_2017 = sorted_int_2017.drop(['Written Report', 'Player ID'], axis = 1)
sorted_int_2017

,First Name,Last Name,Position,Player Rank,Sentiment Score
16,Roberto,Chirinos,SS,17,"(0.3005555555555555, 0.47777777777777786)"
12,Ynmanol,Marinez,SS,13,"(0.30000000000000004, 0.5027777777777778)"
11,Ronny,Rojas,SS,12,"(0.2825091575091575, 0.4816849816849817)"
7,Luis,Garcia,SS,8,"(0.2788888888888889, 0.5133333333333333)"
14,Larry,Ernesto,OF,15,"(0.2513736263736264, 0.4806711145996861)"
5,Eric,Pardinho,RHP,6,"(0.24595959595959596, 0.3306060606060606)"
26,Juan,Querecuto,SS,27,"(0.23943452380952382, 0.4002976190476191)"
19,Keyber,Rodriguez,SS,20,"(0.23690476190476192, 0.32261904761904764)"
23,Alvaro,Gonzalez,SS,24,"(0.2243055555555556, 0.49305555555555564)"
4,Everson,Pereira,OF,5,"(0.2166666666666667, 0.4516666666666667)"
24,Osleivis,Basabe,SS,25,"(0.1875, 0.5011054421768707)"
25,Wildred,Patino,OF,26,"(0.186492673992674, 0.5948717948717949)"
6,Raimfer,Salinas,OF,7,"(0.18229166666666669, 0.5432291666666667)"
1,Wander,Samuel Franco,SS,2,"(0.171875, 0.42708333333333337)"
3,Jelfry,Marte,SS,4,"(0.15964912280701757, 0.3882205513784462)"
8,Antonio,Cabello,C,9,"(0.1567251461988304, 0.46140350877193)"
29,Stir,Candelario,OF,30,"(0.15052083333333333, 0.44166666666666665)"
27,Damian,Mendoza,RHP,28,"(0.14376068376068377, 0.30683760683760686)"
13,Danny,Diaz,SS,14,"(0.1421296296296296, 0.46990740740740744)"
20,Antoni,Flores,SS,21,"(0.13633333333333333, 0.3732222222222223)"
21,George,Valera,OF,22,"(0.13041909071320837, 0.38509480715363065)"
0,Shohei,Ohtani,RHP/OF,1,"(0.11911953242835599, 0.39727914242620127)"
2,Julio,Pablo Martinez,OF,3,"(0.1121794871794872, 0.36153846153846164)"
22,Aaron,Bracho,SS,23,"(0.1072172619047619, 0.5487351190476191)"
28,Carlos,Rodriguez,OF,29,"(0.09603174603174602, 0.40476190476190477)"
10,Ronny,Mauricio,SS,11,"(0.09404761904761903, 0.5102040816326532)"
17,Miguel,Hiraldo,SS,18,"(0.0829613095238095, 0.480282738095238)"
9,Julio,Rodriguez,OF,10,"(0.0826537497590129, 0.4294919992288413)"
18,Adrian,Hernandez,OF,19,"(0.07584924995639282, 0.33293868829583123)"
15,Kristian,Robinson,OF,16,"(0.06253205128205128, 0.45791208791208793)"

In [10]:
#The 2016 MLB Int Class

mlb_json_id_url = 'http://m.mlb.com/gen/players/prospects/2016/playerProspects.json'
response = requests.get(mlb_json_id_url)
response.status_code
all_json = response.json()
int_prospect_list_2016 = all_json['prospect_players']['int']
int_player_ids_2016 = []
int_player_ranks_2016 = []
int_player_first_name_2016 = []
int_player_last_name_2016 = []
int_player_position_2016 = []
for i in int_prospect_list_2016:
    int_player_id_2016 = str(i['player_id'])
    int_player_ids_2016.append(int_player_id_2016)                      
    int_rank_2016 = i["rank"]
    int_player_ranks_2016.append(int_rank_2016)
    int_first_name_2016 = i["player_first_name"]
    int_player_first_name_2016.append(int_first_name_2016)
    int_last_name_2016 = i["player_last_name"]
    int_player_last_name_2016.append(int_last_name_2016)
    int_position_2016 = i["position"]
    int_player_position_2016.append(int_position_2016)
    int_player_id_data_2016 = {'First Name' : int_player_first_name_2016, 'Last Name' : int_player_last_name_2016, 'Player ID' : int_player_ids_2016, 'Position' : int_player_position_2016, 'Player Rank' : int_player_ranks_2016}

int_player_id_dataframe_2016 = pd.DataFrame(int_player_id_data_2016)


###Part 3: Scraping every Top100 report into dataframes
pipeline_url = "http://m.mlb.com/gen/players/prospects/2016/"
int_prospect_url_list_2016 = []
link_status_2016 = []
#making links
for i in int_player_ids_2016:
    prospect_url = pipeline_url + i + '.json'
    int_prospect_url_list_2016.append(prospect_url)

#testing links
for i in int_prospect_url_list_2016:    
    response = requests.get(i)
    if response.status_code == 200:
        link = 'Link is working'
    else:
        link = 'Link does not work'
    link_status_2016.append(link)
    
#making initial list of player scout-reports/cards
int_card_list_2016 = []
for i in int_prospect_url_list_2016:    
    response = requests.get(i)
    int_player_card_framed_2016 = response.json()
    int_player_card_2016 = int_player_card_framed_2016['prospect_player']
    int_player_card_2016
    int_player_report_and_video_2016 = int_player_card_2016['content']
    int_player_report_2016 = int_player_report_and_video_2016['default']
    int_card_list_2016.append(int_player_report_2016)



int_report_trim_1_list_2016 = []
for i in int_card_list_2016:
    trim = i.rfind('Overall: ') + 10
    report_trim_1 = i[trim:]
    int_report_trim_1_list_2016.append(report_trim_1)

int_report_cleaner_list_2016 = []
for i in int_report_trim_1_list_2016:
    if i.find('</a>') == -1:
        start = i.find('n<p>') + 3
    else:
        start = i.find('</a>') + 8
    trim_a = i[start:]
    int_report_cleaner_list_2016.append(trim_a)

int_reports_2016 = []
for i in int_report_cleaner_list_2016:
    without_p = i.replace('<p>', '')
    without_p2 = without_p.replace('p>', '')
    without_n = without_p2.replace('\n', '')
    lowered = without_n.lower()
    int_reports_2016.append(lowered)

int_player_id_dataframe_2016['Written Report'] = int_reports_2016
int_top_one_hundred_data_2016 = int_player_id_dataframe_2016


full_int_2016 = []

for i in int_reports_2016:
    
    int_text_2016 = TextBlob(i)
   
    int_score_2016 = int_text_2016.sentiment
    
    full_int_2016.append(int_score_2016)


int_top_one_hundred_data_2016['Sentiment Score'] = full_int_2016

sorted_int_2016 = int_top_one_hundred_data_2016.sort_values(by=['Sentiment Score'],ascending = False)
sorted_int_2016 = sorted_int_2016.drop(['Written Report', 'Player ID'], axis = 1)
sorted_int_2016

,First Name,Last Name,Position,Player Rank,Sentiment Score
22,Francisco,Morales,RHP,23,"(0.41500000000000004, 0.4616666666666666)"
8,Luis,Almanzar,SS,9,"(0.2866666666666666, 0.5287179487179487)"
1,Kevin,Maitan,SS,2,"(0.270031746031746, 0.3847789987789988)"
25,Yunior,Severino,SS,26,"(0.2145833333333333, 0.5536458333333334)"
9,Lazaro,Armenteros,OF,10,"(0.2051587301587302, 0.44884559884559894)"
17,David,Garcia,C,18,"(0.2041666666666667, 0.4189814814814815)"
21,Jordy,Barley,SS,22,"(0.20392156862745095, 0.33137254901960794)"
11,Jorge,Ona,OF,12,"(0.19447278911564628, 0.3621598639455782)"
16,Jonathan,Machado,CF,17,"(0.19090909090909092, 0.3991341991341992)"
27,Yerdeluis,Vargas,SS,28,"(0.18878873771730914, 0.47246409674981105)"
12,Luis,Garcia,SS,13,"(0.18504901960784312, 0.41519607843137263)"
26,Jose,Sanchez,SS,27,"(0.15964912280701754, 0.3873819163292848)"
5,Vladimir,Gutierrez,RHP,6,"(0.15607142857142858, 0.4242857142857143)"
6,Lourdes,Gurriel,INF/OF,7,"(0.140625, 0.34750000000000003)"
15,Jeisson,Rosario,OF,16,"(0.13974867724867723, 0.46703805453805447)"
28,Yenci,Pena,3B,29,"(0.13030303030303028, 0.4181818181818182)"
20,Yasel,Antuna,SS,21,"(0.12361111111111112, 0.45972222222222225)"
14,Freudis,Nova,SS,15,"(0.1162698412698413, 0.49404761904761907)"
18,Victor,Garcia,OF,19,"(0.11367521367521369, 0.3843162393162393)"
4,Cionel,Perez,LHP,5,"(0.11057692307692306, 0.41794871794871796)"
7,Alfredo,Rodriguez,SS,8,"(0.09485294117647058, 0.5088235294117647)"
2,Adrian,Morejon,LHP,3,"(0.08249999999999999, 0.385)"
24,Abrahan,Gutierrez,C,25,"(0.07826522435897436, 0.4616185897435897)"
10,Gabriel,Arias,SS,11,"(0.039444444444444435, 0.5050000000000001)"
19,Randy,Arozarena,CF/2B,20,"(0.03704059829059829, 0.36906695156695146)"
29,Marcos,Brito,SS,30,"(0.0353896103896104, 0.3109307359307359)"
3,Norge,Ruiz,RHP,4,"(0.025000000000000005, 0.3380952380952381)"
0,Luis,Robert,OF,1,"(0.022058823529411766, 0.23725490196078436)"
23,Ronald,Bolanos,RHP,24,"(-0.010398860398860392, 0.40028490028490027)"
13,Yanio,Perez,3B,14,"(-0.03307692307692308, 0.39282051282051283)"

In [11]:
#The 2014 MLB Int Class

mlb_json_id_url = 'http://m.mlb.com/gen/players/prospects/2014/playerProspects.json'
response = requests.get(mlb_json_id_url)
response.status_code
all_json = response.json()
int_prospect_list_2014 = all_json['prospect_players']['int']
int_player_ids_2014 = []
int_player_ranks_2014 = []
int_player_first_name_2014 = []
int_player_last_name_2014 = []
int_player_position_2014 = []
for i in int_prospect_list_2014:
    int_player_id_2014 = str(i['player_id'])
    int_player_ids_2014.append(int_player_id_2014)                      
    int_rank_2014 = i["rank"]
    int_player_ranks_2014.append(int_rank_2014)
    int_first_name_2014 = i["player_first_name"]
    int_player_first_name_2014.append(int_first_name_2014)
    int_last_name_2014 = i["player_last_name"]
    int_player_last_name_2014.append(int_last_name_2014)
    int_position_2014 = i["position"]
    int_player_position_2014.append(int_position_2014)
    int_player_id_data_2014 = {'First Name' : int_player_first_name_2014, 'Last Name' : int_player_last_name_2014, 'Player ID' : int_player_ids_2014, 'Position' : int_player_position_2014, 'Player Rank' : int_player_ranks_2014}

int_player_id_dataframe_2014 = pd.DataFrame(int_player_id_data_2014)


###Part 3: Scraping every Top100 report into dataframes
pipeline_url = "http://m.mlb.com/gen/players/prospects/2014/"
int_prospect_url_list_2014 = []
link_status_2014 = []
#making links
for i in int_player_ids_2014:
    prospect_url = pipeline_url + i + '.json'
    int_prospect_url_list_2014.append(prospect_url)

#testing links
for i in int_prospect_url_list_2014:    
    response = requests.get(i)
    if response.status_code == 200:
        link = 'Link is working'
    else:
        link = 'Link does not work'
    link_status_2014.append(link)
    
#making initial list of player scout-reports/cards
int_card_list_2014 = []
for i in int_prospect_url_list_2014:    
    response = requests.get(i)
    int_player_card_framed_2014 = response.json()
    int_player_card_2014 = int_player_card_framed_2014['prospect_player']
    int_player_card_2014
    int_player_report_and_video_2014 = int_player_card_2014['content']
    int_player_report_2014 = int_player_report_and_video_2014['default']
    int_card_list_2014.append(int_player_report_2014)



int_report_trim_1_list_2014 = []
for i in int_card_list_2014:
    trim = i.rfind('Overall: ') + 10
    report_trim_1 = i[trim:]
    int_report_trim_1_list_2014.append(report_trim_1)

int_report_cleaner_list_2014 = []
for i in int_report_trim_1_list_2014:
    if i.find('</a>') == -1:
        start = i.find('n<p>') + 3
    else:
        start = i.find('</a>') + 8
    trim_a = i[start:]
    int_report_cleaner_list_2014.append(trim_a)

int_reports_2014 = []
for i in int_report_cleaner_list_2014:
    without_p = i.replace('<p>', '')
    without_p2 = without_p.replace('p>', '')
    without_n = without_p2.replace('\n', '')
    lowered = without_n.lower()
    int_reports_2014.append(lowered)

int_player_id_dataframe_2014['Written Report'] = int_reports_2014
int_top_one_hundred_data_2014 = int_player_id_dataframe_2014


full_int_2014 = []

for i in int_reports_2014:
    
    int_text_2014 = TextBlob(i)
   
    int_score_2014 = int_text_2014.sentiment
    
    full_int_2014.append(int_score_2014)


int_top_one_hundred_data_2014['Sentiment Score'] = full_int_2014

sorted_int_2014 = int_top_one_hundred_data_2014.sort_values(by=['Sentiment Score'],ascending = False)
sorted_int_2014 = sorted_int_2014.drop(['Written Report', 'Player ID'], axis = 1)
sorted_int_2014

,First Name,Last Name,Position,Player Rank,Sentiment Score
19,Ronny,Rafael,OF,20,"(0.41739316239316243, 0.5591025641025641)"
6,Jonathan,Amundaray,OF,7,"(0.3477048992673993, 0.5899324633699634)"
26,Kenny,Hernandez,SS,27,"(0.29972222222222217, 0.3705555555555556)"
5,Christopher,Acosta,RHP,6,"(0.2826007326007326, 0.3430402930402931)"
16,Huascar,Ynoa,RHP,17,"(0.2808403361344538, 0.3683193277310924)"
28,Bryan,Emery,OF,29,"(0.24684237331296152, 0.42389228418640185)"
23,Ricky,Aracena,SS,24,"(0.23657407407407405, 0.49074074074074076)"
11,Pedro,Gonzalez,SS,12,"(0.2258503401360544, 0.32329931972789117)"
7,Brayan,Hernandez,OF,8,"(0.2065934065934066, 0.421632854325162)"
24,Miguel,Flames,C,25,"(0.20541958041958042, 0.48158508158508156)"
27,Jhoandro,Alfaro,C,28,"(0.19853395061728393, 0.44151234567901226)"
15,Diego,Castillo,SS,16,"(0.19158549783549783, 0.4384199134199135)"
14,Arquimedes,Gamboa,SS,15,"(0.18492063492063493, 0.35853174603174603)"
4,Juan,DeLeon,OF,5,"(0.18374542124542126, 0.5192155067155068)"
8,Antonio,Arias,OF,9,"(0.1754901960784314, 0.45256410256410257)"
9,Anderson,Espinoza,RHP,10,"(0.15714285714285717, 0.05714285714285715)"
2,Adrian,Rondon,SS,3,"(0.14289682539682538, 0.32222222222222224)"
10,Juan,Meza,RHP,11,"(0.1414583333333333, 0.3733333333333333)"
12,Hyo-Jun,Park,SS,13,"(0.11947368421052632, 0.4357894736842105)"
22,Miguel Angel,Sierra,SS,23,"(0.1143229166666667, 0.39531250000000007)"
21,Yeremy,Rosario,SS,22,"(0.10660956690368455, 0.355332902391726)"
1,Nelson,Gomez,3B,2,"(0.0989697802197802, 0.4482371794871796)"
17,Christopher,Torres,SS,18,"(0.09810606060606063, 0.4606060606060607)"
20,Franklin,Perez,RHP,21,"(0.08785014005602239, 0.4463585434173669)"
18,Julio,Martinez,OF,19,"(0.08036858974358975, 0.4309294871794872)"
0,Dermis,Garcia,SS,1,"(0.07946033851206262, 0.386933181760768)"
3,Gilbert,Lara,SS,4,"(0.06254578754578753, 0.41895604395604397)"
13,Wilkerman,Garcia,SS,14,"(0.056944444444444436, 0.49027777777777776)"
29,Ricardo,Rodriguez,C,30,"(0.04305555555555555, 0.4055555555555555)"
25,Amado,Nunez,SS,26,"(-0.032352941176470584, 0.3455882352941177)"

In [12]:
#The 2013 MLB Int Class

mlb_json_id_url = 'http://m.mlb.com/gen/players/prospects/2013/playerProspects.json'
response = requests.get(mlb_json_id_url)
response.status_code
all_json = response.json()
int_prospect_list_2013 = all_json['prospect_players']['int']
int_player_ids_2013 = []
int_player_ranks_2013 = []
int_player_first_name_2013 = []
int_player_last_name_2013 = []
int_player_position_2013 = []
for i in int_prospect_list_2013:
    int_player_id_2013 = str(i['player_id'])
    int_player_ids_2013.append(int_player_id_2013)                      
    int_rank_2013 = i["rank"]
    int_player_ranks_2013.append(int_rank_2013)
    int_first_name_2013 = i["player_first_name"]
    int_player_first_name_2013.append(int_first_name_2013)
    int_last_name_2013 = i["player_last_name"]
    int_player_last_name_2013.append(int_last_name_2013)
    int_position_2013 = i["position"]
    int_player_position_2013.append(int_position_2013)
    int_player_id_data_2013 = {'First Name' : int_player_first_name_2013, 'Last Name' : int_player_last_name_2013, 'Player ID' : int_player_ids_2013, 'Position' : int_player_position_2013, 'Player Rank' : int_player_ranks_2013}

int_player_id_dataframe_2013 = pd.DataFrame(int_player_id_data_2013)


###Part 3: Scraping every Top100 report into dataframes
pipeline_url = "http://m.mlb.com/gen/players/prospects/2013/"
int_prospect_url_list_2013 = []
link_status_2013 = []
#making links
for i in int_player_ids_2013:
    prospect_url = pipeline_url + i + '.json'
    int_prospect_url_list_2013.append(prospect_url)

#testing links
for i in int_prospect_url_list_2013:    
    response = requests.get(i)
    if response.status_code == 200:
        link = 'Link is working'
    else:
        link = 'Link does not work'
    link_status_2013.append(link)
    
#making initial list of player scout-reports/cards
int_card_list_2013 = []
for i in int_prospect_url_list_2013:    
    response = requests.get(i)
    int_player_card_framed_2013 = response.json()
    int_player_card_2013 = int_player_card_framed_2013['prospect_player']
    int_player_card_2013
    int_player_report_and_video_2013 = int_player_card_2013['content']
    int_player_report_2013 = int_player_report_and_video_2013['default']
    int_card_list_2013.append(int_player_report_2013)



int_report_trim_1_list_2013 = []
for i in int_card_list_2013:
    trim = i.rfind('Overall: ') + 10
    report_trim_1 = i[trim:]
    int_report_trim_1_list_2013.append(report_trim_1)

int_report_cleaner_list_2013 = []
for i in int_report_trim_1_list_2013:
    if i.find('</a>') == -1:
        start = i.find('n<p>') + 3
    else:
        start = i.find('</a>') + 8
    trim_a = i[start:]
    int_report_cleaner_list_2013.append(trim_a)

int_reports_2013 = []
for i in int_report_cleaner_list_2013:
    without_p = i.replace('<p>', '')
    without_p2 = without_p.replace('p>', '')
    without_n = without_p2.replace('\n', '')
    lowered = without_n.lower()
    int_reports_2013.append(lowered)

int_player_id_dataframe_2013['Written Report'] = int_reports_2013
int_top_one_hundred_data_2013 = int_player_id_dataframe_2013


full_int_2013 = []

for i in int_reports_2013:
    
    int_text_2013 = TextBlob(i)
   
    int_score_2013 = int_text_2013.sentiment
    
    full_int_2013.append(int_score_2013)


int_top_one_hundred_data_2013['Sentiment Score'] = full_int_2013

sorted_int_2013 = int_top_one_hundred_data_2013.sort_values(by=['Sentiment Score'],ascending = False)
sorted_int_2013 = sorted_int_2013.drop(['Written Report', 'Player ID'], axis = 1)
sorted_int_2013

,First Name,Last Name,Position,Player Rank,Sentiment Score
2,Gleyber,Torres,SS,3,"(0.4815873015873016, 0.5908730158730159)"
27,Nicolas Pierre,Figueroa,OF,28,"(0.4, 0.38)"
4,Leonardo,Molina,OF,5,"(0.34453125, 0.4994791666666667)"
14,Carlos,Herrera,SS,15,"(0.33814814814814814, 0.5174358974358975)"
3,Marten,Gasparini,SS,4,"(0.32678571428571423, 0.5142857142857142)"
13,Erick,Julio,RHP,14,"(0.3138675213675214, 0.43201923076923077)"
1,Micker Adolfo,Zapata,OF,2,"(0.30128205128205127, 0.40320512820512816)"
15,Anderson,Franco,3B,16,"(0.26173469387755105, 0.48835034013605444)"
8,Mayky,Perez,RHP,9,"(0.2547494172494172, 0.3593240093240093)"
20,Bryan,Lizardo,3B,21,"(0.24817460317460316, 0.40055555555555566)"
0,Eloy,Jimenez,OF,1,"(0.24189144189144188, 0.5900266400266401)"
23,Enmanuel,DeJesus,LHP,24,"(0.24166666666666667, 0.32222222222222224)"
7,Marcos,Diplan,RHP,8,"(0.23088578088578096, 0.40326340326340326)"
22,Yeyson,Yrizarri,SS,23,"(0.22797619047619047, 0.3888392857142857)"
19,Greifer,Andrade,OF,20,"(0.21876984126984128, 0.4712698412698412)"
26,Michael,DeLeon,SS,27,"(0.20317460317460317, 0.3785714285714286)"
12,Jose Virgilio,Almonte,OF,13,"(0.19666666666666668, 0.43583333333333335)"
16,Erling,Moreno,RHP,17,"(0.19, 0.4217460317460317)"
25,Carlos,Hiciano,SS,26,"(0.18425925925925923, 0.40648148148148144)"
28,Jen-Ho,Tseng,RHP,29,"(0.17845238095238095, 0.3619047619047619)"
9,Lewin,Diaz,OF,10,"(0.1734615384615385, 0.4264102564102565)"
11,Luis,Encarnacion,3B,12,"(0.14850427350427353, 0.4370085470085471)"
18,Lucas,Tirado,SS,19,"(0.12794871794871793, 0.46743589743589736)"
29,Wasner,Peguero,OF,30,"(0.12421134421134422, 0.40379953379953376)"
6,Jose,Herrera,C,7,"(0.11827105186480183, 0.4598120629370629)"
17,Yimmelvyn,Alonzo,SS,18,"(0.11482498982498981, 0.36710927960927964)"
5,Rafael,Devers,3B,6,"(0.10208333333333335, 0.445)"
10,Yeltsin,Gudino,SS,11,"(0.10055272108843538, 0.3482993197278912)"
21,Franly,Mallen,SS,22,"(0.032898110661268534, 0.575895508000771)"
24,Wladimir,Galindo,3B,25,"(-0.033119658119658134, 0.3884615384615386)"